:root {
  --primary-brand-color: #ba3651;
  --border-color: #e0e0e0;
  --background-color: #f0f0f0;
  --info-color: #5a9be0;
  --success-color: #6aa86a;
  --warning-color: #d6a349;
  --danger-color: #b2595b;
  --white-color: #ffffff;
}
