---
import type { PearEventAppModel, PearEventLink } from '@types';
import EventCard from './EventCard.astro';

export interface Props {
  today: Date;
  events: PearEventAppModel[];
  links: Record<string, PearEventLink[]>;
}

const props = Astro.props;
const eventsByMonth = props.events.reduce<Record<string, PearEventAppModel[]>>((acc, event) => {
  const date = new Date(event.date);
  const month = new Date(date.getFullYear(), date.getMonth(), 1);
  const key = month.getTime();
  if (!acc[key]) {
    acc[key] = [];
  }
  acc[key].push(event);
  return acc;
}, {});
---

{
  Object.entries(eventsByMonth)
    .sort(([a], [b]) => Number(a) - Number(b))
    .map(([month, events]) => {
      const monthDate = new Date(Number(month));
      return (
        <>
          <h3 class="monthTitle">
            {monthDate.getFullYear()}年 {monthDate.getMonth() + 1}月
          </h3>
          <div class="cardRack">
            {events.map((event) => (
              <EventCard today={props.today} event={event} links={props.links[event.id] ?? []} />
            ))}
          </div>
          <p class="text-right">
            <a href="#future-events">一番上に戻る</a>
          </p>
        </>
      );
    })
}

<style lang="scss">
  .cardRack {
    margin-bottom: 10px;
    display: grid;
    gap: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .monthTitle {
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  ul {
    padding: 0;
    list-style: none;
    li {
      margin-left: 1em;
      &::before {
        margin-left: -1em;
        content: '・';
      }
    }
  }

  .text-right {
    text-align: right;
  }
</style>
