---
import Root from '../Root.astro';
import Footer from './Footer.astro';
export interface Props {
  title?: string;
}
---

<Root title={Astro.props.title}>
  <div class="root">
    <div>
      <slot />
    </div>
    <Footer />
  </div>
</Root>

<style lang="scss">
  .root {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
</style>
