<div class="footer">
  <p>このWebサイトはファン個人が運営しております。イベント運営様や関連企業様とは一切関係ございません。</p>
  <p>
    <a href="/privacy-policy">プライバシーポリシー</a>
  </p>
  <div class="brandArea">
    <div>
      <div>&copy; 2024 ねくたりしょん</div>
      <div class="version">
        v{APP_VERSION}.{import.meta.env.BUILD_NUMBER}
      </div>
    </div>
    <p class="logoArea">
      <a href="https://nectarition.jp">
        <img class="logo" src="https://nectarition.jp/logo/footer.svg" />
      </a>
    </p>
  </div>
</div>

<style lang="scss">
  .footer {
    padding: 40px 10%;
    padding-bottom: calc(40px + env(safe-area-inset-bottom));
    background-color: #202020;
    color: #ffffff;

    a {
      color: #ffffff;
    }

    p {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 840px) {
      padding: 20px;
    }
    .brandArea {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .logoArea {
      text-align: right;
      .logo {
        height: 32px;
        filter: brightness(100%);
      }
    }
  }
  .version {
    font-size: 0.75em;
    color: #c0c0c0;
  }
</style>
